* {
  margin: 0;
}

body {
  background: #9a9a9a;
  margin: 2em;
}
p {
  margin: 3px;
}

.App {
  display: inline-block;
  justify-content: flex-start;
}

/* The styling for the Products container */

.glass {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 105vmin;
  height: 100px;
  grid-gap: 2em;
  margin: -34px auto;

}
ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: .5em;
  width: 100%;
  height: 100%;
  background: white;
  padding: .5em;
  border: .2em solid #91a7ff;
  box-sizing: border-box;
  border-radius: .5em;
  list-style-type: none;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

li {
  background: #748ffc;
  box-sizing: border-box;
}
.text {
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  font-family: 'Press Start 2P', cursive;
  font-size: 9px;
}

/* CSS for each product */

.product-1 {
  background-color: #FCA9A8;
}
.product-2 {
  background-color: #4E7082;
}
.product-3 {
  background-color: #8DBDC4;
}
.product-4 {
  background-color: #BD547A;
}
.product-5 {
  background-color: #3566A2;
}
.product-6 {
  background-color: #F4EDD8;
}
.product-7 {
  background-color: #9E3C7E;
}
.product-8 {
  background-color: #3D3269;
}
.product-9 {
  background-color: #DCAF68;
}

/* CSS for the keybord */

.keybord-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 30vmin;
  height: 100px;
  grid-gap: 2em;
  margin-left: 367px;
}
.keybord {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: .5em;
  width: 100%;
  height: 100%;
  background: black;
  padding: .5em;
  border: .2em solid black;
  box-sizing: border-box;
  border-radius: .5em;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  margin-top: 10px;
}

/* CSS for the opening in the vending machine */

.opening {
  width: 80px;
  height: 80px;
  padding-top: 2;
  background-color: white;
  border-radius: 12px 12px 12px 12px;
  -moz-border-radius: 12px 12px 12px 12px;
  -webkit-border-radius: 12px 12px 12px 12px;
  border: 4px solid #000000;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  margin-top: 80px;
  margin-left: 108px;
  position: absolute;
}

/* CSS for the screen and it's buttons */

.screen {
  margin-left: 330px;
  margin-top: -48px;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  color: rgb(0, 184, 35);
  background-color: rgba(0, 0, 0, 0.94);
  display: table;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  border: 4px solid #4f4f4f;
  letter-spacing: 1px;
  padding: 7px;
}
.buttons {
  display: inline-grid;
  margin-left: 354px;
  margin-top: 6px;
  color: white;
  background-color: black;
}

/* CSS for the title of the project */

.title {
  text-align: left;
  font-family: 'Press Start 2P', cursive;
  font-size: 17px;
  letter-spacing: 2.2px;
  word-spacing: 1px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: uppercase;
  padding-left: 329px;
}
