* {
  margin: 0;
}

body {
  background: #dbe4ff;
  margin: 2em;
}
.glass {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 105vmin;
  height: 100px;
  grid-gap: 2em;
  margin: 0 auto;

}
ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: .5em;
  width: 100%;
  height: 100%;
  background: white;
  padding: .5em;
  border: .2em solid #91a7ff;
  box-sizing: border-box;
  border-radius: .5em;
  list-style-type: none;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

li {
  background: #748ffc;
  box-sizing: border-box;
}
.text {
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
}
.keybord-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 30vmin;
  height: 100px;
  grid-gap: 2em;
  margin: 0 auto;
}
.keybord {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: .5em;
  width: 100%;
  height: 100%;
  background: black;
  padding: .5em;
  border: .2em solid black;
  box-sizing: border-box;
  border-radius: .5em;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  margin-top: 10px;
}
.App {
  display: inline-block;
  justify-content: flex-start;
}
.screen, .buttons{
  margin-left: 310px;
  color: white;
  background-color: black;
  display: table
}
.product-1 {
  background-color: #FCA9A8;
}
.product-2 {
  background-color: #4E7082;
}
.product-3 {
  background-color: #8DBDC4;
}
.product-4 {
  background-color: #BD547A;
}
.product-5 {
  background-color: #3566A2;
}
.product-6 {
  background-color: #F4EDD8;
}
.product-7 {
  background-color: #9E3C7E;
}
.product-8 {
  background-color: #3D3269;
}
.product-9 {
  background-color: #DCAF68;
}
.opening {
  width: 80px;
  height: 80px;
  padding-top: 2;
  background-color: white;
  border-radius: 12px 12px 12px 12px;
  -moz-border-radius: 12px 12px 12px 12px;
  -webkit-border-radius: 12px 12px 12px 12px;
  border: 4px solid #000000;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  margin-top: 170px;
  margin-left: 108px;
  position: absolute;
}
.screen {
  margin-left: 333px;
}
.buttons {
  margin-left: 333px;
  display: inline-grid;
}
